extends layout  

block content
  h1 Check Out Some Countries
  a(href='/country/new') Add A New country
  table
    thead
      tr
        th Name
        th Flag
        th Capital
        th Population
    tbody
      //for each function here
      each country in countries
        tr
          td
            a(href='/country/' + country._id)= country.country
          td= country.flag
          td= country.capital
          td= country.population
          td
            a(href='/country/'+ country._id + '/edit') Edit
          td
            form(action='/country/' + country._id + '/delete' method='post') 
              input(type='submit' value='Delete')
