extends layout  

block content
  h1 Check Out Some Countries
  a(href='/country/new') Add A New country
  table
    thead
      tr
        th Name
        th Flag
        th Capital
        th Population
    tbody
      //for each function here
